<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MariaDB103Dialect</property>
        <property name="hibernate.connection.driver_class">org.mariadb.jdbc.Driver</property>
        <property name="hibernate.connection.autocommit">true</property>
        <property name="hbm2ddl.auto">validate</property>

        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">10</property>
        <property name="hibernate.c3p0.acquire_increment">5</property>
        <property name="hibernate.c3p0.timeout">300</property>
        <property name="c3p0.idle_test_period">5</property>

        <mapping class="net.chrotos.chrotoscloud.player.CloudPlayer" />
        <mapping class="net.chrotos.chrotoscloud.economy.CloudTransaction" />
        <mapping class="net.chrotos.chrotoscloud.economy.CloudAccount" />
        <mapping class="net.chrotos.chrotoscloud.games.stats.CloudGameStatistic" />

        <mapping class="net.chrotos.chrotoscloud.permissions.CloudPermission" />
        <mapping class="net.chrotos.chrotoscloud.permissions.CloudRank" />

        <mapping package = "net.chrotos.chrotoscloud" />
    </session-factory>
</hibernate-configuration>