# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Docker CI
on: 
  push:
    branches:
    - master
    paths:
    - images/**
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  BASE_IMAGE: ghcr.io/katzen48/chrotoscloud-v2

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Log in to the Container registry
        uses: docker/login-action@v1.10.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: paperInitContainer
        uses: docker/build-push-action@v2.7.0
        with:
          context: images/paperInitContainer
          push: true
          tags: ${{ env.BASE_IMAGE }}:paper-init-container
          
          
      - uses: dsaltares/fetch-gh-release-asset@master
        with:
          repo: "Katzen48/minecraft-ingress"
          file: "velocity-all.jar"
          target: "images/velocityInitContainer/velocity-all.jar"
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: velocityInitContainer
        uses: docker/build-push-action@v2.7.0
        with:
          context: images/velocityInitContainer
          push: true
          tags: ${{ env.BASE_IMAGE }}:velocity-init-container